.home {
  display: grid;
  // max-width: 1200px;
  grid-template-columns: 1.3fr 7fr 4fr;
  overflow: hidden;
  margin: 78px auto 50px;
  position: relative;

  @media screen and(max-width: 1007px) {
    grid-template-columns: 80px 1fr;
    margin: 58px 20px 50px
  }

  @media screen and(max-width: 750px) {
    grid-template-columns: 1fr;
    margin: 58px 8px 50px;
  }

  .main {

    @media screen and (max-width:550px) {
      max-width: 90%;
    }

    @media screen and (max-width:470px) {
      max-width: 500px;
    }
    

    margin-top: 40px;
    .home-header {
      margin: 0 auto 12px;
      text-align: center;
      height: 250px;
      

      @media screen and (max-width:470px) {
        margin: 0;
      }
      
      
      .connection-form {
        background: $color-4;
        border-radius: 20px;
        padding: 20px;

        ul {
          display: flex;
          justify-content: center;
          margin-bottom: 18px;

          li {
            cursor: pointer;
            border-radius: 20px;
            padding: 12px 14px;
            transition: .2s;
            margin: 0 8px;
          }
          .active-btn {
            background: $color-1;
  
            &:hover {
              background: $color-2;
            }
          }
          li:not(.active-btn) {
            &:hover {
              transform: translateX(3px)
            }
          }
        }
        form {
          input {
            padding: 10px 14px;
            margin: 0;
            font-size: 1.2rem;
            font-family: $font-2;
            border-radius: 20px;
  
            &:focus {
              box-shadow: 0 0 3px rgba(51, 51, 51, 0.2);
            }
          }
          input[type=submit] {
            padding: 14px 14px;
            border-radius: 20px;
          }
        }
      }
    

    @media screen and(max-width: 750px) {
      margin-top: 100px;
    }
    .post-form{
      width: 100%;
    }

    @media screen and (max-width:550px) {
      width: 100%;
      .post-container {
        width: 100%;
        // margin-left: 5px;
      }
    }
    @media screen and (max-width:530px) {
    width: 100%;
    }
    @media screen and (max-width: 515px) {
      width: 90%;
      margin-left: 0;
    }
  }
  }
  // .right-side {
  //   position: relative;
  //   width: 100%;
  //   margin: 0px 0 0 14px;

  //   @media screen and(max-width: 990px) {
  //     display: none;
  //   }
  
  //   .right-side-container {
  //     position: fixed;
    
  //   }
  //   .thread-container{
  //     width: 100%;
  //   }
  // }
}

.loading{
  display:block;
  margin:auto;
}