.administrationContainer{
        display: flex;
        flex-direction: column;
        // flex-wrap: wrap;
        margin: 75px 0 14px 200px;

        .adminBigBlock{
            margin:0 0 50px 0;

            .howToDoContainer{
                display:flex;
                flex-direction: row;
                
            }

            #howToDoContent{
                display:none;
                background-color:#ffeaa7;
                width:80%;
                margin:0 0 50px 0;
            }

            ol li{
                list-style-type:decimal !important;
            }

            .ordonnedList{
                padding: 0 0 20px 40px;
            }

            p{
                padding:0 0 0 10px;
            }
            

            .adminSubTitle{
                display:flex;
                flex-direction: row;
                justify-content: space-between;
                padding: 0 50px 20px 0;
                font-size: 20px;
            }

            .howToDo{
                cursor: pointer;
                display: block;
                max-width: 500px;
                min-width: 230px;
                height:100px;
                background-color:#ffeaa7;
                margin: 0 20px 0 auto;
                padding:20px;
            }

            .howToDo div b:hover{
                color:rgba(78, 39, 83, 0.4)
            }
        }

        .adminBlock, .adminBlockHeader{
            display: flex;
            flex-direction: row;
            

            .adminSection{
                // flex-grow: 1;
                // width:20%;
                width:100%; //pour qu'il prenne toute la place disponible et est condensé par les max et min width
                max-width: 300px;
                // min-width: 150px;
                overflow: hidden;
                white-space: nowrap;
                // max-height:50px;
                padding:0 0 0 10px;

                input, select{
                    font-family: "font-2", serif;
                    height:100%;
                    // text-overflow:ellipsis;
                }

                input:disabled{
                    color:rgb(170,170,170);
                }

                div{
                    padding:5px 0 0 0;
                }
            }

            .adminSectionTitle{
                padding:5px 0 0 10px;
                font-weight: bold;
            }

            .adminSectionActionsTitle{
                padding:5px 0 0 5px;
                margin: 0 0 10px 0;
                font-weight: bold;
                max-width:80px !important;
                width:100%; //pour qu'il prenne toute la place disponible et est condensé par les max et min width
 
            }

            .adminSectionRoleTitle{
                padding:5px 0 0 10px;
                margin: 0 0 10px 0;
                font-weight: bold;
                min-width: 90px;
            }
            
        }

        .adminActions{
            width:100%; //pour qu'il prenne toute la place disponible et est condensé par les max et min width
            max-width:80px !important; 
            min-width: 65px;
        }

        .adminRoles{
            width:100%; //pour qu'il prenne toute la place disponible et est condensé par les max et min width
            max-width:90px !important; 
            min-width: 90px;
            // width:90px !important;
        }


        .adminBlock:nth-child(2n+1){
            background-color:rgba(140, 77, 148, 0.1);

            input{
                background-color:rgba(140, 77, 148, -0.9);
            }

            select{
                background-color:rgba(140, 77, 148, -0.9);
            }
        }

        .adminBlock input, .adminBlock select{
            cursor:pointer;
            // background-color: #fdfdfd !important;
        }

        .disable{
            // background-color: #dfe6e9;
            color:rgba(170, 170, 170, 1)
        }

        .modifying{
            // background-color:#fdfdfd !important;
            border:1px solid rgba(140, 77, 148, 0.2);
            padding:0 5px 0 5px;
            margin:0 20px 0 0 !important;
            width:100% !important;
        }

        .notmodifying{
            width:100% !important;
        }

        .noRole{
            background-color: #fab1a0;
        }

        // .adminRoleSelect{
        //     margin: 0 0 0 20px;
        // }
        
        .adminIconEvent{
            width:20px;
            margin:5px 5px 0 5px;
            cursor:pointer;
        }

        .adminIconEvent:hover{
            background-color:rgba(140, 77, 148, 0.4);
        }
}

@media screen and(max-width: 1024px) {
    
  }

@media screen and(max-width: 1007px) {
    .administrationContainer{
        margin: 75px 0 14px 0;
    }

    .admin-container{
        margin:160px 0 0 0;
    }
  }

  @media screen and(max-width: 750px) {
    .disapear-tab{
        display:none;
    }
  }

  @media screen and(max-width: 500px) {
    .disapear-smart{
        display:none;
    }
  }

