.left-nav-container {
  position: relative;
  min-width: 70px; //gui
  order: -2; //gui
  margin: 25px 0 0 20px; //gui
  display: flex;
  flex-direction: column;

  @media screen and(max-width: 1007px) {
    display: flex;
    position: fixed;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    left: 0;
    width: 100%;
    height: 70px;
    margin: 0 0 0 0;
    background-color: $color-4;
    top: 80px;
    z-index: 100;
  }

  @media screen and(max-width: 550px) {
    width: 100%;
    max-width: 550px;
  }

  .icons {
    position: fixed;
    top: 80px;
    z-index: 10;

    @media screen and(max-width: 1007px) {
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      top: 70px;
      margin: 0 0 20px 0;

      .icons-bis {
        width: 100%;
        display: flex;
        justify-content: space-around;
        margin: 0 0 0 5px;
      }
    }

    .icons-bis {
      left: 10px;
      top: 20px;

      a {
        transition: 0.1s;
        display: inline-block;
        margin-top: 25px;

        &:before {
          transition: 0.15s ease;
          transform: scale(0);
          transform-origin: center;
          z-index: -10;
          content: "";
          height: 60px;
          width: 60px;
          position: absolute;
          left: -8px;
          top: -5px;
          background: $color-5;
          border-radius: 50px;

          @media screen and(max-width: 1007px) {
            background-color: $white;
          }
          
        }

        &:hover {
          transform: scale(1.02);
        }
        &:hover::before {
          transform: scale(1);
          @media screen and(max-width: 750px) {
            background: $color-1;
            height: 34px;
            width: 34px;
          }
        }

        img {
          @media screen and(max-width: 750px) {
            height: 34px;
            width: 34px;
          }
        }
      }

      // a:hover{
      //   img{
      //     width:35px;
      //     margin:auto;
      //     text-align: center;
      //   }
      // }

      .active-left-nav {
        position: relative;

        &::after {
          content: "";
          height: 40px;
          width: 5px;
          position: absolute;
          background: $color-1;
          left: -7px;
          bottom: 8px;
          border-radius: 40px;
          transform: scaleY(0);
          animation: scale 1.5s ease forwards;

          @keyframes scale {
            to {
              transform: scaleY(1);
            }
          }
          @media screen and(max-width: 1007px) {
            height: 33px;
            left: -8px;
            background:$white;
            // background: $white;
          }
        }
      }

      #homeHover {
        display: none;
      }

      a:hover #homeHover {
        display: block;
        position: absolute;
        margin: 5px 0 0 60px;
        background-color: #cbc3e3;
        width: 100px;
        height: 40px;
        text-align: center;
        padding: 10px 0 0 0;
      }

      #studioHover {
        display: none !important;
      }

      #studioHoverParent:hover #studioHover {
        display: block !important;
        position: absolute;
        margin: 5px 0 0 60px;
        background-color: #cbc3e3;
        width: 100px;
        height: 40px;
        text-align: center;
        padding: 10px 0 0 0;
      }

      #profilHover {
        display: none;
      }

      #profilHoverParent:hover #profilHover {
        display: block;
        position: absolute;
        margin: 5px 0 0 60px;
        background-color: #cbc3e3;
        width: 100px;
        height: 40px;
        text-align: center;
        padding: 10px 0 0 0;
      }

      #adminHover {
        display: none;
      }

      #adminHoverParent:hover #adminHover {
        display: block;
        position: absolute;
        margin: 5px 0 0 60px;
        background-color: #cbc3e3;
        width: 100px;
        height: 40px;
        text-align: center;
        padding: 10px 0 0 0;
      }

      #discordHover {
        display: none;
      }

      #discordHoverParent:hover #discordHover {
        display: block;
        position: absolute;
        margin: 5px 0 0 60px;
        background-color: #cbc3e3;
        width: 100px;
        height: 40px;
        text-align: center;
        padding: 10px 0 0 0;
      }
    }
  }
}

.NavImg {
  width: 44px;
}


