.forgotPass{
    // margin: 50px;
    width: 100%;
    .forgotPass-container{
        display: flex;
        min-height: 250px;
        justify-content: center;
        form{
            justify-content: center;
            display: flex;
            flex-direction: column;
            // background-color: $color-1;
            margin: 20px 80px;

            h3{
                margin: 20px 50px;
            }
            p{
                font-size: 10px;
                margin: 0 10px;
            }
            .inputForgotPass{
                height: 50px;
                margin: 10px auto;
                border-radius: 15px;
            }
            button{
                width: 15%;
                height: 50px;
                margin: 10px auto;
                position: absolute;
                top: 132px;
                left: 600px;
            
            }

            .inputNewPass{
                height: 50px;
                margin: 10px auto;
                border-radius: 15px;
            }
        }
    }
}


.changePass{
    margin: 50px;
}