.trends{
    background-color: rgba(140, 77, 148, 0.3);
    border-radius: 20px;
    min-height:500px;
    max-width: 80%;
    margin: 30px auto 40px auto;
    
}

.eventBlock, .favoriteBlock{
    padding:20px 0 0 0;
    margin: 0 20px 20px 20px;
}

.eventBlock b, .favoriteBlock b{
    display: inline-block;
    background-color: $color-4;
    color:$color-2;
    padding: 0 5px 0 5px;
    margin:0 0 10px 0;
}

.eventBlockText{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-weight: bold;
}

.favoriteEventBanner{
    width:100%;
}

.favoriteIcon{
    width:20px;
    margin:0 10px 0 0;
}
.trending-container {
    height: 350px;
    max-width: 80%;
    margin: 30px auto 40px auto;
    background-color: rgba(140, 77, 148, 0.3);
    border-radius: 20px;
    h4{
        padding: 5px 0 0 10px;
        background-color: $color-4;
        color:$color-2;
    }
    li{
        height: 90px;
        background-color: $color-2;
        border-radius: 20px;
        margin: 10px;
        display: flex;
        flex-direction: row;
        img{
            max-height: 50px;
            
        }
        div{

            display: flex;
            flex-direction: column;
            width:40%;
            margin-left: 20px;
            margin-top: 5px;
            
            img{
                max-height: 80px;
                border-radius: 15px;
            }

            p{
                height: 50px;
                padding: 5px;
                margin: 0 0 5px 0;
                width: 100%;
                overflow: hidden;
            }

        span{
            font-weight: bold;
            // padding-top: 10px;
            align-self: flex-end;
        }
        }
    }
}
